# Database
DATABASE_URL=postgres://user:pass@host:5432/db
DB_SSL=false

# Server
PORT=3000
NODE_ENV=production

# These configs are set in the DB, but can be passed as ENV if needed in the future
# SMTP_HOST=
# SMTP_USER=
# ...
